<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>OLS- Contact Us</title>
</head>
<body>
	<section>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- put your form or html content in modal body -->
                    <div  align="center" class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}" style="color:red"></div>
                    <form th:object="${contact}" th:action="@{/save}" method="post" class="s12 admin-form">
                    <div class="modal-body" >
                        <div class="form-group"> 
                                <ul class="form-style-1">
                                    <li><label>Full Name <span class="required">*</span></label>
                                        <div class="multiple-input">
                                            <input  type="text" th:field="*{fullName}" id="txtStudentName" class="form-control" placeholder="Full Name"> 
                                            <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" style="color:red">Student Name error</span>
                                            
                                            
                                        </div>
                                       </li>
                                    <li>
                                        <label>Email <span class="required">*</span></label>
                                        <input  type="text" th:field="*{email}" id="txtStudentName" class="form-control" placeholder="Email"/>
                                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red">Student Name error</span>
                                    </li>
                                     <li>
                                        <label>Mobile No. <span class="required">*</span></label>
                                        <input  type="text" th:field="*{phone}" id="txtStudentName" class="form-control" placeholder="Mobile.No"/>
                                     <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color:red">Student Name error</span>
                                    </li>
                                    <li>
                                        <label>Select Course</label>
                                        <select name="field4" th:field="*{course}" class="field-select">
                                        <option value="Advertise">Select Language</option>
                                        <option value="C Language">C Language</option>
                                        <option value="C++ Language">C++ Language</option>
                                        <option value="HTML & CSS">HTML & CSS</option>
                                        <option value="Core Java">Core Java</option>
                                        <option value="Spring & Spring Boot">Spring & Spring Boot</option>
                                        <option value="Hibernate & Database (Mysql)">Hibernate & Database (Mysql)</option>
                                        <option value="Java Script & BootStrub">Java Script & BootStrub</option>
                                        <option value="Angular">Angular</option>
                                        </select>
                                    </li>
                                    
                                    
                                </ul>
                            
                        </div>
                    </div>
                   
                        <input type="submit" class="btn btn-info btn-lg "  value="Submit" />
                       
                    </form>

	
		
	</section>
</body>
</html>