<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Online-Learning</title>
</head>
<body>
	<section class="back_img d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Online Learning System</h1>
		<p>Explore the things in a new way</p>
					<button class="btn bg-priColor btn-lg"><a th:href="@{/signin}">Let's Start</a></button>

		</div>
		
		
	</section>
</body>
</html>