<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div align="center">
        <h1>Update Topic Detail</h1>
        <br />
        <!-- <form method="post" th:action="@{/addTopic}" th:object="${topic}" enctype="multipart/form-data" > -->
   <form action="#"  th:object="${topic}"
		enctype="multipart/form-data" method="post"
		th:action="@{/addTopic}"
		class="mt-2">
   <div class="form-group row">
				
				<div class="col-8">
				<p>Topic Id:</p>
<!-- 					<input type="text" th:field="*{topicId}" class="form-control" readonly="readonly" placeholder="Topic Id"> -->
					<input type="text" id="topicId" name="topicId" placeholder="Enter" class="form-control"/>
				</div>
			</div>
   
   
   <div class="form-group row" >
				
				<div class="col-8">
				
					
                                        <label >Select Course Type:</label>
                                        <select   th:field="*{coursesId}" class="field-select">
                                      
                                        <option th:each="courses: ${courses}" th:value=" ${courses.coursesId}" th:text=" ${courses.courseName}"></option>
                                        </select>
                                 
				</div>
			</div>
   
   
    	<div class="form-group row">
				
				<div class="col-8">
				<p>Course Name:</p>
<!-- 					<input type="text" th:field="*{topicName}" class="form-control" placeholder="Course Name"> -->
					<input type="text" id="topicName" name="topicName" placeholder="Enter" class="form-control"/>
				</div>
			</div>
					<div class="form-group row">
				
				<div class="col-8">
				<p>Description:</p>
<!-- 					<input type="text" th:field="*{description}" class="form-control" placeholder="Duration"> -->
				<input type="text" id="description" name="description" placeholder="Enter" class="form-control"/>
				</div>
			</div>
					
			
				

 

			
					<input type="Submit"   class="btn btn-info btn-lg" name="save" value="Submit" >
					
			
</form>
    </div>

	</section>
</body>
</html>